# Ignore everything
*

# But not these files...
!.gitignore
!convR_map.py   
!EKE_map.py    
!heat_map.py   
!MLD_map.py   
!RUN_PYTHON.sh
!convR_plot.py  
!EKE_plot.py  
!heat_plot.py  
!MLD_plot.py  
!salt_map.py 
!convR.py 
!EKE.py 
!heat.py 
!MLD.py 
!salt_plot.py
!density.py  
!filepaths.py 
!LSmap.py 
!README.txt 
!salt.py  
!RUN_MATLAB.sh  
!currentVel.py
!currentVel_map.py
!transports.py
!sectionMap.py
!section.py
!crossSection.py

# Files in masks
!ANHA4_mesh_mask.nc 
!ARGOProfiles_mask.nc 
!mask_LS_2k.nc 
!mask_LS_bigger.nc 
!maskLSmap.py mask_LS.nc 
!maskMaker.py 
!maskMap.py_

#...and also consider files in sub-directories
!*/

# ...even if they are in subdirectories
